{namespace extlist=Tx_PtExtlist_ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
    <h2>Migrations Tool</h2>
        <div class="outer-wrapper">
            <div class="outer-field-wrapper">
                <div class="field-wrapper type-text">
                    <table class="table table-bordered table-striped tx-ptextlist-list tx-ptextlist-list-standard" id="tx-ptextlist-list-{config.listConfiguration.listIdentifier}">
                        <tbody>
                        <f:for each="{migrations}" as="migration">
                            <tr>
                                <td>
                                   <f:format.date format="d.m.Y - H:i:s">{migration.timestamp}</f:format.date>
                                </td>
                                <td>
                                    <f:if condition="{migration.executed} > 0">
                                        <f:then>
                                            <f:image src="typo3conf/ext/pt_migrations/Resources/Public/Icons/GreenTick.jpg" alt="greentick" />
                                        </f:then>
                                        <f:else>
                                            <f:image src="typo3conf/ext/pt_migrations/Resources/Public/Icons/red-cross-icon-1.png" alt="redcross" />
                                            <td>
                                            </td>
                                            </td>
                                        </f:else>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                        <tr>
                            <td>
                                <f:link.action action="runMigration" controller="Installation">
                                    <strong style = color:#0000ff>Run all the migrations</strong>
                                </f:link.action>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
</f:section>
<f:section name="beButtonsLeft" />

